BDatos_API/Connected Services/servicioBuques/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioBroker.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioBroker.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBuques">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Buques" nillable="true" type="tns:Buques" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuques" nillable="true" type="tns:ArrayOfBuques" />
  <xs:complexType name="Buques">
    <xs:sequence>
      <xs:element minOccurs="0" name="BUQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIAJE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Buques" nillable="true" type="tns:Buques" />
</xs:schema>