BDatos_API/Connected Services/servicioClientes/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8001/ServicioTablaClientes/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioBroker.Models" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodosClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTodosClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioBroker.Models" minOccurs="0" name="obtenerTodosClientesResult" nillable="true" type="q1:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CLIENTE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_Cambio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IClientesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CLIENTE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_Cambio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambiosClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>