BDatos_API/Connected Services/ServiceReference1/ConsoleApplicationServer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleApplicationServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleApplicationServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContenedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contenedor" nillable="true" type="tns:Contenedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContenedor" nillable="true" type="tns:ArrayOfContenedor" />
  <xs:complexType name="Contenedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUQUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTADO" type="xs:short" />
      <xs:element minOccurs="0" name="FECHA_ENTRADA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FECHA_SALIDA" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="INICIALES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUMERO" type="xs:int" />
      <xs:element minOccurs="0" name="PEDIMENTO" type="xs:decimal" />
      <xs:element minOccurs="0" name="PESO" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRESENTACION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGIMEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SESION_ENTRADA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SESION_SALIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIDADES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALOR_COMERICAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIAJE" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contenedor" nillable="true" type="tns:Contenedor" />
</xs:schema>