BDatos_API/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ConsoleApplicationServer.Models" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContenedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContenedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConsoleApplicationServer.Models" minOccurs="0" name="GetAllContenedoresResult" nillable="true" type="q1:ArrayOfContenedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContenedorChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regimen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="viaje" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishContenedorChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cambioContenedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BUQUE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VIAJE" type="xs:int" />
        <xs:element minOccurs="0" name="REGIMEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cambioContenedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>